[user]
	name = trainman419
	email = legotown@aol.com

[alias]
   alog = log --all --graph --date-order --decorate --pretty='format:%C(yellow)%h%Creset%C(red)%d%Creset %C(cyan)%an%Creset %ci %s'
   lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
   st = status
   conflicts = diff --name-only --diff-filter=U
   rev = rev-parse HEAD
[push]
	default = tracking
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[pull]
	rebase = true
[remote "origin"]
	prune = true
